{{> navigation}}

<main>
    {{#if isLogged}}
        <section class="items">
            <h1>Recipes</h1>

            {{> search}}
            {{> category}}
            {{> sort}}
    
            {{#if recipes}}
            <section id="recipeList" class="row">
                {{#each recipes}}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <article class="recipe">
                            {{#if isMine}}
                                <div class="title myRecipe">
                                    <h3>{{name}}</h3>
                                </div>
                            {{else}}
                                <div class="title">
                                    <h3>{{name}}</h3>
                                </div>
                            {{/if}}
                            
                            <h5>{{category}}</h5>
                            <a href="#/recipe-details/{{_id}}">
                                <img src="{{imageUrl}}" alt="Oops image was not found!">
                            </a>
                            <div class="description">
                                <p >{{description}}</p>
                            </div>
                            <p id="likes">
                                <a href="#/recipes/like/{{_id}}">
                                    <span class="heart"></span> {{likes}}
                                </a>
                            </p>
                        </article>
                    </div>
                {{/each}}
            </section>
            {{else}}
                <section id="nothingFound">
                    <h3>No recipes to display :(</h3>
                </section>
            {{/if}}
        </section>
    {{else}}
        <section class="welcome">
            <h1>Welcome to the Recipes Book</h1>
            <p>Login or Register to see the recipes</p>
        </section>
    {{/if}}
</main>

{{> footer}}
