{{> navigation}}

<main>
    {{#if isLogged}}
        <section class="items">
            <h1>Recipes</h1>
            
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-inline my-2 my-lg-0" action="#/search" method="get">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchedItem">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-inline my-2 my-lg-0" action="#/filterCategory" method="get">
                        <select class="form-control" type="text" name="searchedCategory">
                            <option disabled>Choose category</option>
                            <option>Muffins</option>
                            <option>Cakes</option>
                            <option>Soups</option>
                            <option>Drinks</option>
                            <option>Other</option>
                        </select>
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Filter</button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
            </div>
    
            {{#if recipes}}
            <section id="recipeList" class="row">
                {{#each recipes}}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <article class="recipe">
                            {{#if isMine}}
                                <div class="title myRecipe">
                                    <h3>{{name}}</h3>
                                </div>
                            {{else}}
                                <div class="title">
                                    <h3>{{name}}</h3>
                                </div>
                            {{/if}}
                            
                            <h5>{{category}}</h5>
                            <a href="#/recipe-details/{{_id}}">
                                <img src="{{imageUrl}}" alt="Oops {{name}} image was not found!">
                            </a>
                            <div class="description">
                                <p >{{description}}</p>
                            </div>
                            <p id="likes">
                                <a href="#/recipes/like/{{_id}}">
                                    <span class="heart"></span> {{likes}}
                                </a>
                            </p>
                        </article>
                    </div>
                {{/each}}
            </section>
            {{else}}
                <section id="nothingFound">
                    <h3>No recipes to display :(</h3>
                </section>
            {{/if}}
        </section>
    {{else}}
        <section class="welcome">
            <h1>Welcome to the Recipes Book</h1>
            <p>Login or Register to see the recipes</p>
        </section>
    {{/if}}
</main>

{{> footer}}
