{{> navigation}}

<main>
    {{#if isLogged}}
        <section class="row">
            <div class="col-lg-4 col-md-6 col-sm-12"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="recipe">
                    <h3>{{name}}</h3>
                    <h5>{{category}}</h5>
                    <img src="{{imageUrl}}" alt="Oops {{name}} image was not found!">
                    <p>{{description}}</p>

                    {{#if isOwner}}
                        <div id="controls">
                            <form action="#/deleteRecipe/:{{id}}" method="post">
                                <a href="#/editRecipe/:{{id}}"><button class="btn btn-primary">Edit</button></a>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div> 
                    {{/if}}
                </article>
                <article id="ingredients">
                    <h4>Ingredients:</h4>
                    {{#each ingredients}}
                        <div>
                            <button class="ingredient"><i class="fas fa-check"></i> {{this}}</button>
                        </div>
                     {{/each}}
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12"></div>
        </section>
    {{else}}
        <section>
            <h1>Please login to see details</h1>
        </section>
    {{/if}}
</main>

{{> footer}}
